#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main{
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.carre{
    display: flex;
	width:200px;
	height:200px;
    margin: 10px;
    background-color: green;
    color: rgb(255,255,255);
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman';
    transition: 1s;
}

.active {
    background-color: rgb(240, 30, 30);
    transform: rotate(360deg) scale(0.9);
    transition: 1s;
}

#blue{
    background-color: rgb(0, 128, 0);
    color: rgb(255,255,255);
}
#red{
    background-color: rgb(0, 128, 0);
    color: rgb(255,255,255);
}
#green{
    background-color: rgb(0, 128, 0);
    color: rgb(255,255,255);
}
#yellow{
    background-color: rgb(0, 128, 0);
    color: rgb(255,255,255);
}
