#wrapper{
    display: flex;
    flex-direction: column;
}
#home{
    text-align: center;
}
.forum{
    display: flex;
}

p a{
    color: white;
}

footer{
    background-color: rgb(98, 98, 247);
    color: white;
    text-align: center;
}