html {
    display: flex;
    justify-content: center;
}

#wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#forum{
    display: flex;
    flex-direction: column;
    color: white;
}

footer{
    background-color: brown;
}
